@keyframes __br-shock-anim {
	0% { background-color: #fcfcfc }
	50% { background-color: #fff9f9 }
	100% { background-color: #fcfcfc }
}

html.__br-root-trigger {
	overflow: hidden;
}

html.__br-root-trigger * {
	box-sizing: content-box;
	margin: unset;
	padding: unset;
	text-align: left;
	opacity: 1;
	color: unset;
	text-shadow: none;
}

body.__br-trigger {
	width: 100% !important;
	height: auto !important;
	overflow: hidden !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

body:not(.__br-trigger) .__br-elem {
	display: none;
}

body > *:not(.__br-elem) {
	z-index: -1 !important;
}

.__br-elem {
	position: fixed;
	top: 0; left: 0;
	z-index: 999;

	background-color: #000;

	width: 100%; height: 100%;
	overflow-y: scroll;
}

.__br-elem > div {
	background-color: #fcfcfc;

	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 40px;

	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;

	transition: .3s all ease-in-out;
}

.__br-elem div .rkn-logo {
	position: relative;

	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #004483;

	cursor: pointer;
}

.__br-elem div .rkn-logo:before {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20fill%3D%22%23008fd1%22%20d%3D%22M8.5%2C8.4l-6.8%2C6.8v2.7v2.7l2.8%2C2.8l2.8%2C2.8l1.9-1.9c1.1-1.1%2C1.9-2%2C1.9-2.1c0-0.1-0.9-1.1-1.9-2.1L7.2%2C18%20%20l5.4-5.4l5.4-5.4l2%2C2l2%2C2l2-2l2-2l-2.8-2.8l-2.8-2.8H18h-2.7L8.5%2C8.4L8.5%2C8.4z%22%2F%3E%3Cpath%20fill%3D%22%23004483%22%20d%3D%22M26.8%2C11.9l-2%2C2l2.1%2C2.1L29%2C18l-5.4%2C5.4l-5.4%2C5.4L16%2C26.8L14%2C24.7l-2%2C2c-1.1%2C1.1-2%2C2.1-2%2C2.2%20%20c0%2C0.1%2C1.2%2C1.4%2C2.7%2C2.9l2.7%2C2.6H18h2.7l6.8-6.8l6.8-6.8V18v-2.8l-2.6-2.6c-1.5-1.5-2.7-2.6-2.8-2.6C28.8%2C9.9%2C27.9%2C10.8%2C26.8%2C11.9%20%20L26.8%2C11.9z%22%2F%3E%3Cpath%20fill%3D%22%23004483%22%20d%3D%22M15.3%2C15.3L12.6%2C18l2.7%2C2.7l2.7%2C2.7l2.8-2.8l2.8-2.8l-2.6-2.6c-1.5-1.5-2.7-2.6-2.8-2.6%20%20C18%2C12.6%2C16.8%2C13.8%2C15.3%2C15.3L15.3%2C15.3z%22%2F%3E%3C%2Fsvg%3E');
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: center;

	position: absolute;
	width: 1.2em; height: 100%;
	content: '';
	left: -1.2em;
}

.__br-elem div p {
	margin: 1em 0;
}

.__br-elem div q {
	quotes: '\00AB' '\00BB' '"' '"';
}

.__br-elem div b {
	font-weight: bold;
}

.__br-elem div a {
	color: #4a20ff;
	text-decoration: none;
	border: 0;
}

.__br-elem div a:hover {
	color: #886dff;
}

.__br-elem div ol,
.__br-elem div ul {
	padding-left: 2em;
}

.__br-elem div ol li {
	list-style-type: decimal;
}

.__br-elem div ul li {
	list-style-type: disc;
}

.__br-elem div header {
	margin-top: 1em;
}

.__br-elem div header h1,
.__br-elem div header h2 {
	font-weight: bold;
}

.__br-elem div header h1 {
	margin-bottom: 0;
	font-size: 2.5em;
}

.__br-elem div header h2 {
	margin-top: 0;
	font-size: 1.5em;
}

.__br-elem div main {
	margin-top: 3em;
}

.__br-elem div main .reasons-list li:not(:first-child) {
	margin-top: 1em;
}

.__br-elem div footer hr {
	border: 1px solid #000;
}

.__br-elem div.__br-show-footer {
	animation: __br-shock-anim 1s 1;
}

.__br-elem div:not(.__br-show-footer) footer {
	display: none;
}
